<div style="display: flex;padding-left: 5%;">
    <div class="card" style="width: 40%;margin: 1%;">
        <div class="card-body">
            <h6 class="card-title" align="center">Food Items</h6>
            <p class="card-subtitle" align="center">Choose the food items you want to order</p>

            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Food Name</th>
                            <th>Quantity</th>
                            <th>Restaurant</th>
                            <th>Order</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pav Bhaji</td>
                            <td>4.5</td>
                            <td>Shiv Sagar</td>
                            <td>Submit</td>
                        </tr>

                        <tr>
                            <td>Chole Bhature</td>
                            <td>5.4</td>
                            <td>Bhagat Tarachand</td>
                            <td>Submit</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card" style="width: 30%; margin: 1%;">
        <div class="card-body">
            <h6 class="card-title" align="center">Food Detail</h6>
            <div class="container">
                <p>Food Name: </p>
                <p>Quantity: </p>
                <p>Restaurant: </p>
                <p>Contact: </p>
                <p>Order</p>
            </div>
        </div>
    </div>
</div>
<br>
<div style="padding-left: 5%;">
    <div class="card" style="width: 40%; margin: 1%;">
        <div class="card-body">
            <h6 class="card-title"> Transactions </h6>
            <p class="card-subtitle"> All your ordered food appears here.</p>
        </div>
    </div>
</div>
